services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes: 
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - postgres

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres     

volumes:
  pgdata:
